/* Reset default browser styles */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background-color: #edeae4;
    padding-top: 140px; 
}
header {
    position: fixed;
    top: 0;
    width: 100%;
    background-color: #edeae4;
    color: #000000;
    padding: 10px 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 1000;
    border-bottom: 1px solid #ccc; /* Add a 1px solid border bottom with light gray color */
}

.logo {
    margin-right: auto; /* Pushes the logo to the left */
}

.nav-container {
    margin-left: auto;
    margin-top: 0; /* Adjust margin-top as needed */
}

nav ul {
    list-style: none;
    display: flex; /* Change to flex to enable sliding effect */
    justify-content: center; 
    margin: 0; /* Remove default margin */
    padding: 0; /* Remove default padding */
}

nav ul li {
    margin-right: 20px;
}

nav ul li a {
    color: #282828; /* White text color */
    text-decoration: none;
    position: relative; /* Relative positioning for sliding effect */
}

nav ul li a::before {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 0;
    height: 2px;
    background-color: #ffffff; /* White underline color */
    transition: width 0.3s ease; /* Smooth transition for sliding effect */
}

nav ul li a:hover::before {
    width: 100%; /* Slide the line to 100% width on hover */
}

.search {
    margin-left: auto;
    margin-right: 20px; /* Adjust margin-right as needed */
}

.search form {
    display: flex;
    align-items: center;
}

.search input[type="text"],
.search button {
    padding: 10px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 25px;
}

.search button {
    background-color: #A99A86;
    color: #fff;
    cursor: pointer;
}

.search input[type="text"] {
    width: 500px; /* Adjust width as needed */
    margin-right: 10px; /* Add spacing between input and button */
}
/* index styles */
main {
    padding: 20px;
}

section {
    margin-bottom: 20px;
}

/* post listing */
.posts {
    display: flex;
    flex-wrap: wrap;
}

.coffee-shop-card {
    width: 25%;
    padding: 10px;
    cursor: pointer; /* Add cursor pointer */
}

.coffee-shop {
    background-color: #f9f9f9;
    border: 1px solid #ddd;
    border-radius: 15px;
    padding: 15px;
    width: calc(100% - 20px); 
    height: 200px; 
    margin: 0 10px 20px 10px; 
    transition: height 0.3s;
    display: flex;
    flex-direction: column;
    justify-content: center; 
    align-items: center;
}

.coffee-shop h3 {
    color: #333;
    margin-bottom: 10px;
    text-align: center; 
    margin: 0;
    width: 100%; 
}

.coffee-shop p {
    color: #666;
    margin-bottom: 5px;
}

.coffee-shop p:not(:first-child) {
    display: none;
}

/* Display additional information when coffee shop is expanded */

a {
    color: #856d52;
    text-decoration: none;
    transition: color 0.1s ease;
}

a:hover {
    color: #a8a298;
}

/* profile page */
.container {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
}

h1 {
    text-align: center;
    margin-bottom: 20px;
}

.coffeeShopForm {
    background-color: #fefdfd;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.form-group {
    margin-bottom: 15px;
}

label {
    font-weight: bold;
}

form input[type="text"],
form input[type="password"],
textarea {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin-bottom: 10px;
}

button {
    background-color: #A99A86;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background-color: #A99A86;
}

footer {
    background-color: #edeae4;
    color: #000000;
    padding: 20px;
    text-align: center;
}

/* Profile style Container styling */
.manage {
    margin-top: 20px;
    width: 1000px;
    margin-left: auto;
    margin-right: auto;
    padding: 20px;
    background-color: #fff;
    border-radius: 40px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.info th,
.info td {
    padding: 12px;
    text-align: left;
}

.info th {
    border-bottom: 1px solid #ccc; /* Add a solid black border bottom */
}
.info th:first-child {
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
}

.info th:last-child {
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
}

.info td {
    padding: 12px;
    text-align: left;
    position: relative;
}

.info td:not(:last-child):after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 940px;
    height: 1px;
    background-color: #ddd;
}

.edit-cell {
    width: 850px; /* Adjust the width of the edit cell as needed */
}

.name-cell {
    width: calc(100% - 100px); /* Adjust the width of the name cell based on the edit cell width */
}
/* Tab styling */
.tab {
    overflow: hidden;
    background-color: #fff; /* Background color for the tab container */
    color: #fff; /* Text color for the tabs */
    display: flex;
    justify-content:left;
    align-items: center;
    border-radius: 10px; /* Added border radius */
}

.tab button {
    background-color: transparent;
    color: #A99A86;
    border: none;
    border-radius: 35px;
    outline: none;
    cursor: pointer;
    padding: 14px 16px;
    margin-right: 5px;
    transition: background-color 0.3s; /* Transition for smoother hover effect */
}

.tab button:hover {
    background-color: #856d52; /* Background color on hover */
    color: #fff;
}

.tab button.active {
    background-color: #856d52; /* Active tab background color */
    border-radius: 10px; /* Added border radius */
}

.tabcontent.active {
    display: block;
}

/* show styling */
.showcase {
    width: 1000px;
    margin: 20px auto;
    padding: 20px;
    background-color: #fff;
    border-radius: 40px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    display: flex;
}

.shopinfo {
    flex: 1; 
    padding-right: 10px; 
    border-right: 1px solid #ccc;
}

.comments {
    padding-left: 10px;
}
a.back-button {
    margin-left: 20px; /* Add margin to separate it from the showcase */
    padding: 20px;
}

.comment-container {
    position: relative;
    display: inline-block; /* Ensures the container doesn't take full width */
}

.comment-textarea {
    border-radius: 30px;
    resize: none;
    width: calc(100% - 65px); /* Adjust the width of the textarea as needed */
}

.comment-button {
    position: absolute;
    border-radius: 500px;
    padding: 10px 12px;
    top: 40%;
    right: 10px; /* Adjust the distance from the right side as needed */
    transform: translateY(-50%);
}
/* login */
.loginwrapper {
    width: 1000px;
    margin: 20px auto;
    padding: 20px;
    background-color: #fff;
    border-radius: 40px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    display: flex;
}

.image-container {
    flex: 1;
    padding-right: 10px;
    border-right: 1px solid #ccc;
}

.user-image {
    width: 100%;
    max-width: 350px;
    border-radius: 25px;
}

.form-container {
    flex: 1;
    padding-left: 10px;
}

.form-container h2 {
    margin-top: 0;
}

.form-container form label {
    display: block;
    margin-bottom: 5px;
}

.form-container form input[type="text"],
.form-container form input[type="password"] {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin-bottom: 10px;
}

.form-container form input[type="submit"] {
    background-color: #A99A86;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.form-container form input[type="submit"]:hover {
    background-color: #856d52;
}

.form-container .error-message {
    color: red;
    margin-bottom: 10px;
    text-align: center;
}
