/* Reset default browser styles */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background-color: #edeae4;
    padding-top: 140px; 
}
header {
    position: fixed;
    top: 0;
    width: 100%;
    background-color: #edeae4;
    color: #000000;
    padding: 10px 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 1000;
    border-bottom: 1px solid #ccc; /* Add a 1px solid border bottom with light gray color */
}

.logo {
    margin-right: auto; /* Pushes the logo to the left */
}

.nav-container {
    margin-left: auto;
    margin-top: 0; /* Adjust margin-top as needed */
}

nav ul {
    list-style: none;
    display: flex; /* Change to flex to enable sliding effect */
    justify-content: center; 
    margin: 0; /* Remove default margin */
    padding: 0; /* Remove default padding */
}

nav ul li {
    margin-right: 20px;
}

nav ul li a {
    color: #282828; /* White text color */
    text-decoration: none;
    position: relative; /* Relative positioning for sliding effect */
}

nav ul li a::before {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 0;
    height: 2px;
    background-color: #ffffff; /* White underline color */
    transition: width 0.3s ease; /* Smooth transition for sliding effect */
}

nav ul li a:hover::before {
    width: 100%; /* Slide the line to 100% width on hover */
}

.search {
    margin-left: auto;
    margin-right: 20px; /* Adjust margin-right as needed */
}

.search form {
    display: flex;
    align-items: center;
}

.search input[type="text"],
.search button {
    padding: 10px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 25px;
}

.search button {
    background-color: #A99A86;
    color: #fff;
    cursor: pointer;
}

.search input[type="text"] {
    width: 500px; /* Adjust width as needed */
    margin-right: 10px; /* Add spacing between input and button */
}
/* index styles */
main {
    padding: 20px;
}

section {
    margin-bottom: 20px;
}

/* coffee listing */
.posts {
    display: flex;
    flex-wrap: wrap;
}

.coffee-shop-card {
    width: 25%;
    padding: 10px;
    cursor: pointer; /* Add cursor pointer */
}

.coffee-shop {
    background-color: #f9f9f9;
    border: 1px solid #ddd;
    border-radius: 15px;
    padding: 15px;
    width: calc(100% - 20px); /* Adjusted width to fit in flex container */
    height: 200px; /* Ensure height matches width to maintain square proportions */
    margin: 0 10px 20px 10px; /* Add margin around cards */
    transition: height 0.3s; /* Add transition effect */
    display: flex; /* Add display flex */
    flex-direction: column; /* Align items in a column */
    justify-content: center; /* Center vertically */
    align-items: center; /* Center horizontally */
}

.coffee-shop h3 {
    color: #333;
    margin-bottom: 10px;
    text-align: center; /* Center align by default */
    margin: 0; /* Remove default margin */
    width: 100%; /* Ensure h3 takes full width */
}

.coffee-shop p {
    color: #666;
    margin-bottom: 5px;
}

.coffee-shop p:not(:first-child) {
    display: none;
}

/* Display additional information when coffee shop is expanded */
.coffee-shop.expanded p {
    display: block;
}

.coffee-shop.expanded {
    justify-content: flex-start;
}

.coffee-shop.expanded h3 {
    text-align: center;
    margin-top: 10px;
    margin-bottom: 20px;
}

a {
    color: #856d52;
    text-decoration: none;
    transition: color 0.1s ease;
}

a:hover {
    color: #a8a298;
}
.edit {
    font-size: 9px;
}
/* admin page */
.container {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
}

h1 {
    text-align: center;
    margin-bottom: 20px;
}

.coffeeShopForm {
    background-color: #fefdfd;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.form-group {
    margin-bottom: 15px;
}

label {
    font-weight: bold;
}

form input[type="text"],
textarea {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin-bottom: 10px;
}

button {
    background-color: #A99A86;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background-color: #A99A86;
}

footer {
    background-color: #edeae4;
    color: #000000;
    padding: 20px;
    text-align: center;
}

/* Profile style Container styling */
.manage {
    margin-top: 20px;
    width: 1000px;
    margin: 20px auto;
    padding: 20px;
    background-color: #fff;
    border-radius: 40px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.info th,
.info td {
    padding: 12px;
    text-align: left;
}

.info th:first-child {
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
}

.info th:last-child {
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
}

.info td {
    padding: 12px;
    text-align: left;
    position: relative;
}

.info td:not(:last-child):after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 250%;
    height: 1px;
    background-color: #ddd;
}

/* Tab styling */
.tab {
    overflow: hidden;
    border: 1px solid #ccc;
    background-color: #A99A86;
    color: #A99A86;
    display: flex; /* Display tabs in a row */
    justify-content: space-between; /* Distribute tabs evenly */
    align-items: center; /* Center-align items vertically */
    background-color: transparent; /* Set background color to transparent */
    border: none; /* Remove border */
}

.tab button {
    background-color: transparent;
    float: left;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 14px 16px;
    transition: 0.3s;
}

.tab button:hover {
    background-color: #ddd;
}

.tab button.active {
    background-color: #A99A86;
    border-radius: 10px;
}

.tabcontent.active {
    display: block;
}

/* show styling */
.showcase {
    width: 1000px;
    margin: 20px auto;
    padding: 20px;
    background-color: #fff;
    border-radius: 40px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    display: flex;
}

.shopinfo {
    flex: 1; 
    padding-right: 10px; 
    border-right: 1px solid #ccc;
}

.comments {
    flex: 1;
    padding-left: 10px;
}
a.back-button {
    margin-left: 20px; /* Add margin to separate it from the showcase */
    padding: 20px;
}
